/*************************************************************************************
 * Stylesheet for joannmermis.html and wesstclair.html
 * 
 * BakerSoftware 2007
 ************************************************************************************/

h2
{
	font-variant:normal;
	font-size:13px;
}

div#col1
{
	float:left;
	margin-right:10px;
	width:145px;
	height:500px;
}

div#col2
{
	float:left;
	width:440px;
}

div#col2j p
{
	margin:0 0 10px 30px;
	font-size:13px;
	line-height:14px;
}

div#col2 p
{
	margin:0 0 10px 30px;
	font-size:12.5px;
	line-height:13px;
}