/*************************************************************************************
 * Stylesheet for propertysearch.html
 * 
 * BakerSoftware 2007
 ************************************************************************************/
p
{
	padding-top:175px;
	font-size:16px;
	color:#666;
	font-style:italic;
	text-align:center;	
}