/*************************************************************************************
 * Stylesheet for testimonials.html and testimonials2.html
 * 
 * BakerSoftware 2007
 ************************************************************************************/
blockquote
{
	margin:0 0 0 20px;
	padding:0 0 0 18px;
	width:400px;
	background:url(../images/ldquo.gif) no-repeat left top;
}

blockquote div { margin-bottom:8px; }
blockquote div.who
{
	margin:0 0 12px 20px;
	color:#444;
}

div#links { margin:20px 0 0 20px; }
a
{
	font-size:14px;
	color:#336699;
	text-decoration:underline;
}

a:hover
{
	font-size:14px;
	color:black;
	text-decoration:underline;
}