/*************************************************************************************
 * Stylesheet for whoweare.html
 * 
 * BakerSoftware 2007
 ************************************************************************************/
div#top
{
	width:593px;
	margin-bottom:8px;
	border-bottom:solid 1px #336699;
}

div#top br { clear:both }

h1 { float:left; }

div#links
{
	float:right;
	padding-bottom:4px;
}

div#links a
{
	font-size:16px;
	line-height:17px;
	font-style:normal;
	text-decoration:underline;
	color:#222;
}

div#links a:hover
{
	color:#003399;
	text-decoration:underline
}

div#links span.dot
{
	padding:0 3px;
	font-size:16px;
	line-height:13px;
	font-weight:bold;
	color:#333;
	vertical-align:middle;
}

div#whoweare { padding:0 5px }

img#house1, img#house2
{
	width:190px;
	height:135px
}

img#warren
{
	width:85px;
	height:103px
}

img.left
{
	float:left;
	margin-right:8px;
}

img.right
{
	float:right;
	margin-left:8px;
}